#bigBox {
  width: 100%;
  height: 100%;
  background: #FFFFFF ;
}
#conShow {
  width: 1190px;
  height: 600px;
  background: #FFFFFF;
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 30px;

}
#conShow .left {
  width: 480px;
  height: 570px;
  padding-right: 70px;
  float: left;
}
#conShow .left .imgB {
  width: 480px;
  height: 480px;
  border: 1px solid #DDDDDD;


}
#conShow .left .imgS {
  width: 64px;
  height: 64px;


}
#conShow .left .bottom img{
  /*display: -webkit-flex;*/
  /*display: flex;*/
 /*flex-wrap: nowrap;*/
  /*justify-content: space-between;*/
  float:left;
 margin: 10px;

}
/*修改了*/
#conShow .left .bottom ul li {
  float:left;

}
#conShow .left .bottom ul li  img{
  display: inline-block;

}

/*修改了*/
#conShow .right {
  width: 590px;
  height: 570px;
  float: left;
}
#conShow .right .title {
  width: 590px;
  height: 100px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#conShow .right .title p {
  color: #0E0E0E;
  display: block;
  font-size: 28px;
  font-weight: 400;
  overflow: hidden;
  width: 600px;
}
#conShow .right .des {
  width: 590px;
  height: 30px;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
#conShow .right .des span {
  color: #666;
  font-size: 14px;
}
#conShow .right .price {
  width: 590px;
  height: 80px;
  background: #F8F8F8;
}
#conShow .right .price span {
  color: #FA5437;
  font-size: 36px;
  font-style: normal;
  line-height: 80px;
}
#conShow .right .cate {
  width: 590px;
  height: 80px;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
#conShow .right .cate span {
  color: #848484;
  font-size: 20px;
  padding: 10px;
}
#conShow .right .cate li {
  float: left;
  padding: 5px;
}
#conShow .right .cate li a {
  border: 1px #DDD solid;
  color: #0E0E0E;
  margin-right: 15px;

}

#conShow .right .cate li a:hover {
  border: 1px #FA5437 solid;
  color: #FA5437;
}
#conShow .right .num {
  width: 590px;
  height: 60px;
}
#conShow .right .num span {
  color: #848484;
  float: left;
  font-size: 20px;
  line-height: 45px;
}
#conShow .right .num .numBox {
  width: 105px;
  height: 35px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
#conShow .right .num .numBox .cut {
  width: 33px;
  height: 35px;
  border: 1px solid #CCCCCC;
  text-align: center;
}
#conShow .right .num .numBox .cut b {
  font-size: 36px;
}
#conShow .right .num .numBox .text_box {
  float: left;
  border: 1px solid #CCCCCC;
  width: 50px;
  height: 30px;
  text-align: center;
}
#conShow .right .num .numBox .add {
  width: 33px;
  height: 35px;
  border: 1px solid #CCCCCC;
  text-align: center;
}
#conShow .right .num .numBox .add b {
  font-size: 36px;
}
#conShow .right .buy {
  width: 590px;
  height: 90px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#conShow .right .buy .joinCar {
  display: block;
  width: 240px;
  height: 50px;
  background: red;
}
#conShow .right .buy .joinCar:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
#conShow .right .buy .joinCar .car {
  width: 80px;
  height: 20px;
  display: inline-block;
  margin-top: 20px;
  background: url(../images/red.png) no-repeat 45px 5px;
}
#conShow .right .buy .joinCar span {
  display: inline-block;
  line-height: 35px;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
#conShow .right .buy .like {
  width: 150px;
  height: 53px;
  display: inline-block;
  background: #ADADAD;
  line-height: 50px;
}
#conShow .right .buy .like:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
#conShow .right .buy .like:hover .hot {
  background: url(../images/red.png) no-repeat 30px -40px;
}
#conShow .right .buy .like .hot {
  width: 100px;
  height: 20px;
  display: inline-block;
  background: url(../images/red.png) no-repeat 30px -18px;
}
#conShow .right .buy .like span {
  float: left;
  font-size: 16px;
  height: 3px;
  text-align: center;
  width: 150px;
}
#conShow .right .sure {
  width: 590px;
  height: 130px;
  background: url(../images/sure.png  ) no-repeat 0 0;
}
#tab_bar {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  border-top: 1px solid #E6E9ED;
  border-bottom: 1px solid #E6E9ED;
  background: #FFFFFF;
}
#tab_bar .tab {
  width: 1240px;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  font-size: 18px;
  color: #31373C;
}
#tab_bar .tab a {
  padding: 0 10px;
  color: #6EC177;
}
#pic {
  width: 100%;
}
#pic .full_pic p {
  background: no-repeat center top;
  margin: 0;
  padding: 0;
  width: auto;
}
#ggcs {
  width: 100%;
  height: 50px;
}
#ggcs .ggcs {
  width: 1240px;
  height: 50px;
  margin: 20px auto;
  line-height: 50px;
  font-size: 20px;
  border-bottom: 1px solid #E6E9ED;
}
#ggmx {
  width: 100%;
}
#ggmx .gCon {
  width: 1000px;
  margin: 0 auto;
}
#ggmx .gCon .gArg {
  margin-top: 20px;
  border: 1px solid #CCC;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 15px;
}
#ggmx .gCon .col2 {
  border-left: 1px #CCC solid;
  border-bottom: 0;
  margin-top: -1px;
  width: 100%;
  font-size: 16px;
}
#ggmx .gCon td {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-right: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
}
#ggmx .gCon td.wd207 {
  color: #333;
  text-align: center !important;
  text-indent: 0;
  width: 207px;
}
#trouble {
  width: 1000px;
  margin: 2px auto;
}
#pic .full_pic .super{
  width: 100%;
  height: 100%;
}
#pic .full_pic .super img{
  width: 100%;
}